/*this is variables scss*/
$openBold: "open_sansbold";
$openRegular: "open_sansregular";
$openLight: "open_sanslight";
$openSemiBold: "open_sanssemibold";
$Henderson_sansbold: "Henderson_sansbold";
$Henderson_sansregular: "Henderson_sansregular";
$Henderson_serifbold: "Henderson_serifbold";
$Henderson_serifregular: "Henderson_serifregular";
$white: #fff;
$fadeWhite: #e5e5e5;
$black: #000;
$gray: #4d4d4d;
$lightGray: #aaa;
$borderGray: #808285;
$bodyBg: #ccc;
$backgroundColor: #fafafa;
$tableBackground: #f5f5f5;
$yellow: #ECDE38;
$fontRegular: 400;
$fontBold: 600;
$green: #186b53;
$lightGreen: #b0dcb8;
$baseColor: #231f20;
